.mainCreateRecipe{
background: rgba(173, 159, 159, 0.7) url('../create.png');
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
height:80vh;
align-items: center;
position: relative;
background-blend-mode: darken;

}





.formulario{

display:flex;

min-width: 45%;
border-radius: 10px;
background-color:rgba(151, 128, 128, 0.1);
backdrop-filter: blur(17px);
flex-direction: column;
align-items: center;
box-shadow:9px 9px 18px -9px #272424;



}
.eachContainer{
    display:flex;
    justify-content: space-around;
    margin:37px;

}
.ContainDietInstructions{
    display:flex;
    justify-content: space-around;
    margin:37px;
}


.twoInputs{
display: flex;

flex-direction: column;
align-items: flex-start;
margin-left:40px;
margin-right: 40px;

}
.dietInstructions{
display: flex;
height: 80px;
flex-direction: column;
align-items: flex-start;
margin-left:40px;
margin-right: 40px;
    
}
.labelForm{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-right: 30px;
    font-family: Andale Mono, monospace;
    color:rgb(61, 58, 58);
}
.inputForm{
    height: 30px;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    color: rgb(75, 72, 72);
    font-family: Andale Mono, monospace;
    margin-right: 10px;
    outline:none;
    border:transparent;
    resize: none;
    
}
.inputForm:hover{
    background-color: #c7cbcf;
    border: transparent;
}

.inputForm::placeholder{
    color: rgb(173, 169, 169);
    font-family: Andale Mono, monospace;
    height: 30px;
    text-align: center;
}
.inputInstruction{
    height: 80px;
    width: 200px;
    font-size:1em;
    font-weight: bold;
    color: rgb(75, 72, 72);
    font-family: Andale Mono, monospace;
    margin-right: 10px;
    outline:none;
    border:transparent;
    resize: none;

}
.inputInstruction:hover{
    background-color: #c7cbcf;
    border: transparent;
}

.btnCreate{
    margin-bottom: 20px;
    font-weight: 600;
    height: 36px;
    width:100px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color:#996692;
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
}
.btnCreate:hover{
    background-color: #465563;
    
}
.danger{
    height: 30px;
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    color: rgb(75, 72, 72);
    font-family: Andale Mono, monospace;
    margin-right: 10px;
    border:none;
    outline-color: rgb(255, 8, 8);

}
.msgError{
    font-size: 16px;
    display:block;
    font-family: Andale Mono, monospace;
    font-weight:700;
    color: rgb(216, 19, 19);
   
}
.btnCreate:disabled{
    background-color: #92959e;
    color: rgb(202, 201, 201);
    cursor: not-allowed;
}

.creado{
    
    font-size: 18px;
    font-weight: bold;
    color:rgb(75, 72, 72);

}
.selectForm{
    border:transparent;
    outline: none;
    height: 80px;
}
.selectForm:hover{
    background-color: #c7cbcf;
    border: transparent;
}