

.container{
 background:rgba(173, 159, 159, 0.3)  url("../land2.jpg") ;
height: 100vh;
width:100vw;

display: flex;
justify-content: center;
align-items: center;
background-repeat: no-repeat;
background-size: cover;


background-blend-mode: darken;
}
    
.miniContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.logo{
    height:23vh;
    min-width: 21vw;
    
    
}
.bt{
    
    position:relative;
    top: 16px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background-color:#bb567d;
    color: beige;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
    
}
.bt:hover{
    background-color: #465563;

}







@media (max-width: 400px) {
    
    .container{
    justify-content: center;
    padding-right:0vw;
    background-image: url("../fondoMobile.jpg");}

}