

.container{
height: 100vh;
width:100vw;
padding-right: 15vw;
display: flex;
justify-content: flex-end;
align-items: center;
background-attachment: fixed;
background-position: center center;
background-size: cover;
background-image: url("../fondo.jpg");

}
    
.miniContainer{
    display:flex;
    flex-direction: column;
    align-items: center;
}


.logo{
    height:23vh;
    min-width: 21vw;
    
    
}
.bt{
    
    position:relative;
    top: 16px;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    background-color:#5a7a98;
    color: beige;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: transparent;
    
}
.bt:hover{
    background-color: #465563;

}







@media (max-width: 400px) {
    
    .container{
    justify-content: center;
    padding-right:0vw;
    background-image: url("../fondoMobile.jpg");}

}