.containNav{
    display:flex;
    
    
    align-items: center;
    background-color: beige;
    height: 20vh;
    

}
.liNav{

    display: inline;
    list-style: none;
    cursor: pointer;
    font-size: large;
    font-weight: 700;
    margin:30px 38px;
   
    
}
.logoNav{
    height: 18vh;
    width: 17vw;
    margin: 20px;
 
    
}
.logoNav:hover{
   
    border-radius: 10px;



}
.linkNav{
    text-decoration: none;
    color: #2F4858 ;
    font-family: "Lucida Handwriting";
    border-bottom: 3px solid transparent;
    

}
.linkNav :hover{
    color:  #916DB1;
    border-bottom: 3px solid #916DB1;

    
}

.linkNav.active{
color:  #916DB1;


}
.snippets{
    margin-left: 50px;
    display: flex;
    justify-content: center;
}