.titleFound{
   
    font-size: 50px;
    color: #fff;
    text-align: center;
    margin-top: 170px;
    margin-left: 33%;


}
.advice{
    color: #fff;
    text-align: center;
    margin-left: 37%;

}